Checks: |
  -*,
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-bool-pointer-implicit-conversion,
  -bugprone-exception-escape,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-parent-virtual-call,
  bugprone-sizeof-expression,
  bugprone-standalone-empty,
  bugprone-string-constructor,
  bugprone-stringview-nullptr,
  bugprone-undefined-memory-manipulation,
  bugprone-unused-return-value,
  bugprone-virtual-near-miss,
  clang-diagnostic-unused-variable,
  -cppcoreguidelines-init-variables,
  cppcoreguidelines-virtual-class-destructor,
  modernize-deprecated-headers,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-override,
  readability-delete-null-pointer,
  readability-else-after-return,modernize-use-nullptr,
  readability-inconsistent-declaration-parameter-name,
  readability-make-member-function-const,
  readability-redundant-access-specifiers,
  readability-redundant-declaration,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance,
  readability-use-anyofallof,
  readability-identifier-naming
  # bugprone-reserved-identifier
  # misc-const-correctness
  # google-readability-casting

HeaderFilterRegex: '.*.hxx'
WarningsAsErrors: '*,-readability-identifier-naming,-google-readability-casting'
UseColor: true
FormatStyle: file
CheckOptions:
  readability-braces-around-statements.ShortStatementLines: 3
  readability-implicit-bool-conversion.AllowPointerConditions: true
  bugprone-assert-side-effect.AssertMacros: fASSERT
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumPrefix: E_
  readability-identifier-naming.EnumConstantCase: CamelCase
  modernize-deprecated-headers.CheckHeaderFile: true
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.ClassMemberCase: lower_case
  readability-identifier-naming.ClassMemberSuffix: _
